main {
  .pokemon-list {
    .list-group-item {
      background-color: $color-white-lower-opacity;
      transition: margin-right 0.1s ease-in-out;
      cursor: pointer;
      color: $black-color;
      text-decoration: none;
    }

    .list-group-item:hover,
    .list-group-item:focus-visible {
      margin-right: 2rem;
    }

    .active-list-item {
      margin-right: 2rem;
    }
  }
  .pokemon-card {
    margin-left: 0.5em;
    height: fit-content;
    margin-bottom: 0.25rem;
    width: 20em;
    background-color: $card-color;
    transition: transform 0.5s ease;
    border-radius: 1rem;
  }
  .pokemon-description {
    list-style-image: url("../images/pokeball.svg");
    text-align: left;
    padding-left: 1rem;
  }

  .error-pokemon-card {
    margin-bottom: 0.25rem;
    width: 14em;
    background-color: $card-color;
    transition: transform 0.5s ease;
    border-radius: 1rem;
  }

  .error-pokemon-description {
    list-style-image: url("../images/pokeball.svg");
    text-align: left;
    padding-left: 1rem;
  }

  .homepage-button {
    background-color: $button-color;
    border: none;
  }

  .homepage-button:hover {
    background-color: $hover-color;
  }

  .pokemon-card:hover {
    transform: scale(0.97);
  }

  .error-pokemon-card:hover {
    transform: scale(0.97);
  }
}
