// * Color Variables

// Pokeball color: #ee3f3e

$navigation-bar-color: #f79f9f;
$search-bar-color: #33ffff;
$black-color: #000000;
$color-white: #ffffff;
$color-white-lower-opacity: rgba(255, 255, 255, 0.7);
$card-color: rgba(255, 255, 255, 0.7);
$hover-color: #4ad9d9;
$button-color: #52cccd;
